<%=
  @title = "#{@photoset.user.name} #{@photoset.date}"
  @scripts = ["/js/face.js"]
  erb :"common/header"
%>

<div id="face-main">
  <div id="face-photoset">
    <div id="photoset-photo">
      <div id="photoset-mainphoto">
        <img width="<%= $face_mainphoto_width %>" id="photoset-mainphoto-img" src="/thumb/<%= @photo.id %>w<%= $face_mainphoto_width %>">
      </div>
      <div id="photoset-parts">
        <% @photos.each do|part| %>
          <span class="photo face-thumb-menu">
            <img class="face-thumb-menu-img" src="/thumb/<%= part.photo.id %>w<%= $face_mainphoto_width %>">
          </span>
        <% end %>
      </div>
    </div>
    <div style="clear: both"> </div>
    <div id="photoset-description">
      <span class="user-name">
        <% if @photoset.user.id == session[:user_id] then %>
          <%= @photoset.user.name %>
        <% else %>
          <a href="/user/<%= @photoset.user.name %>"><%= @photoset.user.name %></a>
        <% end %>
      </span>
      <span class="date"><%= @photoset.date %></span>
      <% if @you_like then %>
        <span id="photoset-like" title="いいね！を取り消す" name="unlike">いいね！を取り消す</span>
      <% else %>
        <span id="photoset-like" title="いいね！" name="like">いいね！</span>
      <% end %>
      <% if @likes > 0 %>
        <span id="photoset-like-count">
          <span id="photoset-like-count-number"><%= @likes %></span>人が「いいね！」と言っています。
        </span>
      <% else %>
        <span id="photoset-like-count" style="display: none">
          <span id="photoset-like-count-number"><%= @likes %></span>人が「いいね！」と言っています。
        </span>
      <% end %>
    </div>
  </div>
  <div id="face-cosmetics">
    <% @cosme_have_list.each do|cosme| %>
      <div class="face-cosmetic-block">
        <%=
          @cosme = cosme
          erb :"common/cosmetic_block"
        %>
      </div>
    <% end %>
    <% @cosme_have_not_list.each do|cosme| %>
      <div class="face-cosmetic-block">
        <%=
          @not_search_cosme_link = true
          @cosme = cosme
          erb :"common/cosmetic_block"
        %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  var likes = <%= @likes %>
  $(".face-thumb-menu").mouseover(function() {
    var thumb_url = $(this).children()[0].src;
    var origin_url = thumb_url+"w"+<%= $face_mainphoto_width %>;
    $("#photoset-mainphoto-img").attr("src", origin_url);
  });
  $("#photoset-like").click(function() {
    var likespan = $(this);
    var likecount = $("#photoset-like-count");
    var likenum = $("#photoset-like-count-number");
    if (likespan.attr("name") == "like") {
      $.get("/like/<%= @photoset.id%>", function() {
        likespan.attr("name", "unlike");
        likespan.text("いいね！を取り消す");
        likecount.css("display", "inline");
        likenum.text(likes += 1);
      });
    } else {
      $.get("/unlike/<%= @photoset.id%>", function() {
        likespan.attr("name", "like");
        likespan.text("いいね！");
        likenum.text(likes -= 1);
        if (likes == 0)
          likecount.css("display", "none");
      });
    }
  });
</script>

<%= erb :"common/footer" %>
