<span class="photo" style="width: <%= $face_thumb_width %>px">
  <a href="/user/face/<%= @face.photo_set_id%>"><img src="/thumb/face/<%= @face.photo.id %>" width="<%= $face_thumb_width %>px"></a>
</span>
<div class="explanation">
  <div class="user-name">
    <%= @face.user.name %>
  </div>
  <div class="date"><%= @face.photo_set.date %></div>
</div>
