<%=
  @title = "#{@photoset.user_name} #{@photoset.date}"
  erb :"common/header"
%>

<div id="face-main">
  <div id="face-photoset">
    <div id="photoset-photo">
      <div id="photoset-mainphoto">
        <img src="/photo/<%= @photoset.face.id %>">
      </div>
      <div id="photoset-parts">
        <% @photos.each do|photo| %>
          <span class="photo">
            <img src="/photo/thumb/<%= photo.id %>">
          </span>
        <% end %>
      </div>
    </div>
    <div id="photoset-description">
      <%= @photoset.user_name %>
      <%= @photoset.date %>,
      <%= @photoset.user_level %>
      &nbsp;&nbsp;<a href="#">いいね！</a>
    </div>
  </div>
  <div id="face-cosmetics">
    <% @cosmetics.each do|cosme| %>
      <div class="face-cosmetic-block">
        <span class="photo" style="width: <%= $cosme_thumb_width %>px">
          <img src="/cosme/thumb/<%= cosme.id %>">
        </span>
        <div class="explanation">
          <div class="cosme-part"><%= cosme.part_name %></div>
          <div class="cosme-brand-name"><%= cosme.brand_name %></div>
          <div class="jancode"><%= cosme.jancode %></div>
          <div class="cosme-url">
            <a href="<%= cosme.url %>">Buy now!</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= erb :"common/footer" %>
