<%=
  @title = "#{@cosme.name} Users"
  erb :"common/header"
%>

<div id="common-main">

<div id="common-left">
  <div class="photo-list">
    <% @photo_list.each do|photo| %>
      <div class="photo-block">
        <span class="photo" style="width: <%= $face_thumb_width %>px">
          <a href="/face/<%= photo.photo_set_id%>"><img src="/photo/thumb/<%= photo.id %>" width="<%= $face_thumb_width %>px"></a>
        </span>
        <div class="explanation">
          <% if photo.user_name == session[:user_name] then %>
            <div class="user-name"><%= photo.user_name %></div>
          <% else %>
            <div class="user-name">
              <a href="/user/<%= photo.user_name %>"><%= photo.user_name %></a>
            </div>
          <% end %>
          <div class="user-level"><%= photo.user_level %></div>
          <div class="date"><%= photo.date %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="common-right">
  <div class="cosmetic-list">
    <div class="cosmetic-block">
      <%=
        @not_search_cosme_link = true
        erb :"common/cosmetic_block"
      %>
    </div>
  </div>
</div>

</div>

<%= erb :"common/footer" %>
